* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1a1a1a;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

.chatDiv {
	z-index: 100;
}

.stats {
	position: absolute;
	left: 500px;
	top: 750px;
	width: 600px;
	height: 150px;
	background-color: #1a1a1a;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stat {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 5px;
	color: rgb(211, 211, 211);
	width: 125px;
	height: 100px;
	background-color: #636363;
	margin: 10px;
	font-size: 1.5rem;
}

@keyframes dAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dAnim {
	animation: dAnimation 0.75s linear;
}


.space-to-respawn {
	font-size: 2rem;
	color: black;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1600px;
	height: 900px;
}

.space-to-respawn span {
	margin-top: 500px;
}



.stat-number {
	/* position: absolute;
	bottom: 0; */
	font-size: 2.8rem;
	color: white;
}

.background-overlay {
	position: absolute;
	/* left: -2px;
	top: -2px;
	width: 1604px;
	height: 904px;
	background-color: rgb(0, 0, 0);
	opacity: 0.7; */
}


.chat {
	position: absolute;
	left: 0px;
	top: 250px;
	width: 350px;
	height: 30px;
	transform-origin: center center;
	border: none;
	outline: none;
	color: white;
	font-size: 1rem;
	padding: 5px;
	caret-color: white;
	background: transparent;
	font-family: 'Inter', sans-serif;
}

.chat-message {
	color: white;
	font-size: 1rem;
	background: transparent;
	margin: 2px;
}

.chat::placeholder {
	color: white;
	opacity: 1;
}

.chat-div {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 375px;
	height: 251px;
	background: transparent;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	overflow-y: auto;
	padding: 2px;
	overflow-x: hidden;
	word-break: break-word;
}

.chat-div::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.chat-div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu {
	background-color: #1a1a1a;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.play {
	border: none;
	outline: none;
	width: 160px;
	height: 80px;
	color: rgb(61, 6, 6);
	background-color: rgb(222, 26, 26);
	font-size: 2rem;
	border-radius: 4px;
	cursor: pointer;
	transform-origin: center center;
	animation: playButton 1s linear infinite;
	transition: width 0.1s linear, height 0.1s linear;
	position: relative;
	top: 160px;
}

.darrow-hero {
	/* border: 5px solid red; */
	/* background: #00b55b; */
	border-radius: 50%;
	position: absolute;
	left: calc(50vw - 40px);
	top: calc(50vh - 30px);
	width: 80px;
	height: 80px;
}

.darrow-hero-desc {
	position: absolute;
	left: 50vw;
	top: calc(50vh + 70px);
	transform: translateX(-50%);
	font-size: 1rem;
}

.darrow-hero-name {
	position: absolute;
	left: 50vw;
	top: calc(50vh - 60px);
	transform: translateX(-50%);
	/* color: #00b55b; */
	font-size: 1.2rem;
}

.locked {
	color: rgb(104, 103, 89) !important;
	position: absolute;
	left: 50vw;
	top: calc(50vh + 60px);
	transform: translateX(-50%);
	font-size: 1.2rem;
}


/* .darrow-left {
	position: absolute;
	/* border: 5px solid blue; */
/*}/*

.darrow-right {
	position: absolute;*/
	/* border: 5px solid blue; *//*
} */

.darrow-hero-button {
	/* border: 5px solid red; */
	color: rgb(237, 2, 2);
	font-size: 6rem;
	outline: none;
	border: none;
	position: absolute;
	left: 50vw;
	top: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	transition: font-size 0s linear, color 0s linear;
	cursor: pointer;
}

.darrow-hero-button:hover {
	font-size: 7rem;
	color: rgb(255, 0, 0);
}

.darrow-hero-left {
	transform: translateX(-50%) translateY(-50%);
	left: calc(50vw - 125px);
}

.darrow-hero-right {
	transform: translateX(-50%) translateY(-50%);
	left: calc(50vw + 125px);
}

.play:hover {
	width: calc(160px * 1.1);
	height: calc(80px * 1.1);
}

.title {
	position: absolute;
	top: calc(50vh - 150px);
	left: 50vw;
	transform: translateX(-50%);
	font-size: 3rem;
	color: rgb(237, 2, 2);
}

.highscore {
	position: absolute;
	color: rgb(0, 255, 217);
	font-size: 1.2rem;
	top: calc(100vh - 30px);
}

@keyframes playButton {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(3deg);
	}
	75% {
		transform: rotate(-3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.discord, .editor {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 5px;
	/* border: 10px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 40px;
	background: rgb(199, 52, 79);
	color: rgb(32, 3, 3);
	font-size: 1.3rem;
	text-decoration: none;
	border-radius: 2px;
}


.editor {
	left: 135px;
}



.rainbow {
  animation: colorRotate 4s linear 0s infinite;
}

@keyframes colorRotate {
  0% {
	  color: hsl(180, 100%, 50%);
  }
  50% {
	  color: hsl(216, 100%, 50%);
  }
  100% {
	  color: hsl(180, 100%, 50%);
  }
}

/* .chat-over {
	background: #1a1a1a;
	/* background: linear-gradient(315deg, transparent 10%, #1a1a1a 5%); 
	position: absolute;
	left: -1px;
	top: 250px;
	width: 376px;
	height: 31px;
	transform-origin: center center;
	border: none;
	outline: none;
	padding: 5px;
	opacity: 0.5;
} */


canvas, .gui {
	position: absolute;
	left: 0;
	top: 0;
}

.hidden {
	display: none !important;
}